<div class="container d-block border">

  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <nav class="navbar navbar-secondary bg-secondary py-0">
      <a class="navbar-brand text-white" [routerLink]="['/home']">
        <img src="../assets//image//logo.jpg" width="40" height="40" class="d-inline-block align-top  rounded-circle" alt="">
        HOGWARTS
      </a>
    </nav>
    <button class="navbar-toggler bg-silver" type="button" data-toggle="collapse" data-target="#menu"
      aria-controls="menu" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/character']">Personajes<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/student']">Estudiantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/teacher']">Profesores</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet class="border-red h-100" ></router-outlet>
</div>
